<!DOCTYPE html>
<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="topnav">
        <a href="/login" class="active">Login</a>
        <a href="/register">Sign Up</a>
      </nav>
    </header>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/Records">Records</a></li>
          <li><a href="/Submit">Submit Question</a></li>
        </ul>
      </nav>
      <main>
        <H1>Dashboard</H1>
        <h2>
          _______________________________________________________________________________________________
        </h2>
        <h2>Question of the Day:</h2>
        <h1><%= poll.question %></h1>

        <div class="wrapper">
          <canvas id="myChart" style="width: 100%; max-width: 1200px"></canvas>

          <script>
            var xValues = [<% for (let i = 0; i < answers.length; i++) { %>
              "<%= answers[i].answer %>",
                  <% } %>];

            var yValues = [<% for (let i = 0; i < answers.length; i++) { %>
              <%= answers[i].vote_count == 0 ? -1 : answers[i].vote_count %>,
                  <% } %>];

            var barColors = ["#b91d47", "#2b5797", "#00aba9", "#e8c3b9", "#1e7145"];

            new Chart("myChart", {
              type: "pie",
              data: {
                labels: xValues,
                datasets: [
                  {
                    backgroundColor: barColors,
                    data: yValues,
                  },
                ],
              },
              options: {
                title: {
                  display: true,
                  text: "<%= poll.question %>",
                },
              },
            });
          </script>
        </div>
      </main>
    </div>
  </body>
</html>
