<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <H1>Dashboard</H1>
    <h2>
      This is the number of questions in the sample array: <%= questionsLen %>
    </h2>
  </body>
</html>
