<% if (locals.msg) {%>
    <% if (msg === "fail") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Incorrect Username or Password
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else if (msg === "userexists") { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        User with Username or Email already exists
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        An error has occured
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% }%>
<% }%>