<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="topnav">
        <a href="#" class="active">Login</a>
        <a href="#">Sign Up</a>
      </nav>
    </header>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/Records">Records</a></li>
          <li><a href="/Submit">Submit Question</a></li>
        </ul>
      </nav>
      <main>
        <H1>Records</H1>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Question</th>
              <th>Answers</th>
            </tr>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <tr>
              <td><%= question.id %></td>
              <td><%= question.question %></td>
              <td>
                <button
                  class="display-answer-btn"
                  data-answer="<% question.answers.forEach(function(ans){ %><%= ans %>, <% }); %>"

                >
                  view results
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
    </div>
    <script>
      // Select all the display-answer-btn buttons
      const displayAnswerBtns = document.querySelectorAll(
        ".display-answer-btn"
      );

      // Add event listeners to each button
      displayAnswerBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
          // Retrieve the answer from the data-answer attribute
          const answer = btn.getAttribute("data-answer");

          const answerEl = document.createElement("div");
          answerEl.innerHTML = `Answer: ${answer}`;

          // Append the answer element to the button's parent element
          btn.parentNode.appendChild(answerEl);

          // Hide the button after the answer is displayed
          btn.style.display = "none";
        });
      });
    </script>
  </body>
</html>
