<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <nav class="topnav">
        <a href="/login" class="active">Login</a>
        <a href="/register">Sign Up</a>
      </nav>
    </header>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/Records">Records</a></li>
          <li><a href="/Submit">Submit Question</a></li>
        </ul>
      </nav>
      <main>
        <div>
            <h1>Register</h1>
            <p class="font-weight-bold r-login">Already registered? <a class="text-decoration-none"
                href="/login">Login</a></p>
        </div>
        <form action="" method="post">
            <label for ="">Email</label><br>
            <input type = "email" id="email" name="email" required><br>
            <label for ="">Username</label><br>
            <input type = "text" id="username" name="username" required><br>
            <label class="text" for ="">Password</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="gender">Gender</label><br>
            <select id="gender" name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="N/A">N/A</option>
            </select><br>
            <label for="continent">Continent</label><br>
            <select id="continent" name="continent">
              <option value="North America">North America</option>
              <option value="South America">South America</option>
              <option value="Europe">Europe</option>
              <option value="Asia">Asia</option>
              <option value="Africa">Africa</option>
              <option value="Australia">Australia</option>
              <option value="Antartica">Antartica</option>
            </select><br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </main>
</body>
</html>