<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function addAnswer() {
        // Create a new input element for the answer
        var input = document.createElement("input");
        input.type = "text";
        input.name = "answers[]"; // Use array notation for the name to handle multiple answers - dont erase aray
        input.required = true;

        // Create a new label element for the answer
        var label = document.createElement("label");
        label.for = input.name;
        label.innerHTML = "Answer:";

        // Create a new div element for the answer container
        var answerContainer = document.createElement("div");
        answerContainer.appendChild(label);
        answerContainer.appendChild(input);

        // Add the answer container to the form
        var form = document.getElementById("question-form");
        form.insertBefore(answerContainer, form.lastElementChild);
      }

      //create a function to call the backend w/ endpoint /submitquestion
      const postPoll = async () => {
        try {
          const questionInput = document.getElementById("question");
          const answerInputs = document.getElementsByName("answers[]");

          const answers = [];
          for (const answerInput of answerInputs) {
            answers.push(answerInput.value);
          }

          const response = await axios.post(
            "http://localhost:3000/submitQuestion",
            {
              question: questionInput.value,
              answers: answers,
            }
          );

          //console.log("response:", response.data);
        } catch (error) {
          console.error("error:", error);
        }
      };
    </script>
  </head>
  <body>
    <header>
      <nav class="topnav">
        <a href="#" class="active">Login</a>
        <a href="#">Sign Up</a>
      </nav>
    </header>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/Records">Records</a></li>
          <li><a href="/Submit">Submit Question</a></li>
        </ul>
      </nav>
      <main>
        <h1>Submit Your Question!</h1>
        <h2>What would you like to ask the world?</h2>
        <form id="question-form" action="/submitQuestion" method="POST">
          <label for="question">Question:</label>
          <input type="text" id="question" name="question" required />
          <br />

          <div id="answers-container"></div>
          <button type="button" onclick="addAnswer()">Add Answer +</button>
          <br />
          <input
            type="hidden"
            id="selected-answer-count"
            name="selectedAnswerCount"
            value="0"
          />
          <button type="button" onclick="postPoll()">Submit Poll</button>
        </form>

        <div id="message" style="display: none">Question was submitted!</div>
      </main>
    </div>
  </body>
</html>