<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="topnav">
        <a href="#" class="active">Login</a>
        <a href="#">Sign Up</a>
      </nav>
    </header>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/Records">Records</a></li>
          <li><a href="/Submit">Submit Question</a></li>
        </ul>
      </nav>
      <main>
        <H1>Submit Your Question!</H1>
        <h2>What would you like to ask the world?</h2>
        <form action="/submitQuestion" method="POST">
          <label for="question">Question:</label>
          <input type="text" id="question" name="question" required>
          <br>
          <button type="submit">Save</button>
        </form>
      
      </main>
    </div>
  </body>
</html>
