body {
  background-color: white;
  }
  @media (min-width: 991.98px) {
  main {
  padding-left: 240px;
  }
  }
  
  /* Sidebar */
  .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  background-color: #2c3e50 !important;
  }
  
  @media (max-width: 991.98px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .list-group-item {
      background-color: #2c3e50;
      color: rgba(255, 255, 255, 0.847);
  }

  .sidebar .list-group-item:hover {
      color:white;
      background-color: #2c3e50
  }

  .top-nav {
      background-color: #2c3e50 !important;
      padding-top: 15px;
      padding-bottom: 15px;
  }

  input {
      width: 100% !important;
  }

main {
  margin-left: 20%;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
}

p {
  font-size: 18px;
  color: #333;
}
#question-form button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
label[for="question"] {
  font-size: 24px;
  font-weight: bold;
}
input[name="answers"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
#message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

/*records CSS Added Here*/
/* Add borders to the table cells */
th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Add a background color to every other row in the table */
tr:nth-child(even) {background-color: #f2f2f2;}

/* Style the display-answer-btn button */
.display-answer-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Hide the answer element by default */
.answer {
  display: none;
}

/* Show the answer element when the display-answer-btn button is clicked */
.display-answer-btn:hover + .answer {
  display: block;
}